@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Cabeçalho*/
header {
    position: fixed;
    top: 0;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--Colors-white, #F8F8FF);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
}


.menuHeader {
    display: inline-flex;
    padding: 35px 370px 35.176px 390px;
    justify-content: flex-end;
    align-items: center;
    gap: 391px;
}


.botoesHeader {
    background-color: #f7f7fe;
    display: flex;
    width: 519px;
    height: 36px;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    height: 36px;
    border: none; 
    position: relative;
    right: -70px;
}

.tipografiaBotoesHeader {
    background-color: #f7f7fe;
    color: var(--Colors-blue1100, #063643);
    border: none;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.tipografiaBotoesHeader:hover {
    background-color: rgba(107, 183, 203, 0.40);
    border-radius: 10px;
    color: var(--Colors-blue1100, #063643);
    border: none;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.contato{
    width: 1180px;
    height: 450px;
    margin-top: 20px;
    margin-left: 370px;
    border-width: 1px;
    border-radius: 8px;
    background-color: #F8F8FF; /* Cor para visualizar */
    border: 1px solid #00000026;
    position: relative;
    margin: auto;
    margin-top: 160px;
}
/*Cabeçalho*/

body {
    background-color: #e0f3f8;
}

.titulodiv1{
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
    width: 420px;
    height: 84px;
    margin-left: 80px;
    margin-top: 48px;
}

.botaocontato{
    margin-left: 80px;
    margin-top: 70px;
    color: #F8F8FF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: var(--Colors-blue1000, #0F637A);
    display: flex;
    width: 283px;
    height: 72px;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botaocontato:hover{
    background-color: #8ad3e6;
    color: #0F637A;
}

.imagenscachorros{
    display: flex; /* Alinha os elementos na horizontal */
    justify-content: center; /* Centraliza no meio da tela */
    align-items: center; /* Alinha na vertical */
    gap: 20px; /* Espaçamento entre as imagens */
    margin-top: 50px; /* Ajuste conforme necessário */
}

#ic1{
    width: 717px;
    height: 260px;
    flex-shrink: 0;
    margin-top: -160px;
    margin-left: 383px;
}	

#waveform{
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    margin-left: 897px;
    position: absolute;
    top: -20px;
}

/* Início do Carrossel */
.carrossel{ /* Container do Carrossel */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    height: 332px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
}

.modelBanners{ /* Modelo dos Banners do carrossel */
    position: relative;
    width: 1094.182px;
    height: 300px;
    flex-shrink: 0;
    margin-bottom: 32px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out; /* Para animar a transição entre os slides */
}

.modelBanners.on {
    opacity: 1;
    pointer-events: auto;
}

.modelTitulo { /* Modelo de títulos do banner */
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
}

.modelTexto { /* Modelo de texto dos banners */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
}

.modelSaibaMais { /* Modelo de botões dos banners */
    display: flex;
    width: 283px;
    height: 72px;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

/* Estilo Primeiro Banner */
#bannerCarrossel01 {
    position: absolute;
    border-radius: 8px;
    background: #6BB7CB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    flex: 0 0 100%;
}

#tituloCarrossel01 {
    color: var(--Colors-blue1100, #063643);
    height: 42px;
    width: 379px;
    margin-top: 24px;
    margin-left: 502px;
}

#textoCarrossel01 {
    color: #0F637A;
    height: 30px;
    width: 311px;
    margin-top: 12px;
    margin-left: 510px;
    margin-right: 273.18px;
}

#botaoCarrossel01 {
    border-radius: 4px;
    border-color: #00000026;
    background: #F8F8FF;
    color: #063643;
    margin-top: 51px;
    margin-left: 510.09px;
    margin-right: 301.09px;
    transition: background-color 0.3s ease;
}

#botaoCarrossel01:hover{
    background: #063643;
    color: #F8F8FF;
}

#imagemVacina{
    position: absolute;
    top: 93px;
    left: 112px;
    right: 832.18px;
    bottom: 57px;
}

#imagemPata01 {
    position: absolute;
    top: 12px;
    left: 21px;
    right: 936.81px;
    bottom: 152.7px;
}

#imagemPata02 {
    position: absolute;
    top: 132px;
    left: 256px;
    right: 710.56px;
    bottom: 42.53px;
}

#imagemSombraGato {
    position: absolute;
    top: 100px;
    left: 863px;
    right: 111.18px;
    bottom: 4.33px;
}
/* Estilo Primeiro Banner */

/* Estilo Segundo Banner */
#bannerCarrossel02 {
    position: absolute;
    color: #063643;
    border-radius: 8px;
    background: url(https://s3-alpha-sig.figma.com/img/5821/4e25/6fc1dafda45401d114a42d25343f1ce6?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=qDepp~NY-o~a8PNd0G2bRN5Pr-FKvnXaLsk9~TzQk2MHjCoMI68C3J~k7GXraT1~aYRueEof4x2jBPtmD-emxdboUn4Q2YsUBF1SPVwDvidkGQCzJUlR21sVppyzEC9s55bcYSb962OYLKGZgV0D~YIhC006ex0tGDQRfDacXngDA4AoXGFe2L~M0iTEkcCTOXlYwXWLEwosocHYbZ2857CTuCFmoZCvC~R7Nqsy29pQ5y7GApuaPbT0QE58FcZ3FIiKeEipxVgcVUJbzbTh3SgKcWX1ADsHImKRQzhNTCD743F6OophPrAsVmJrVc15Sw~w4WHzjb4ql0DfPFt9kg__) lightgray -29.652px -257.215px / 100% 364.667% no-repeat;
    background-color: #063643;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    flex: 0 0 100%;
}

#tituloCarrossel02 {
    color: #FFF;
    margin-top: 24px;
    margin-left: 64px;
}

#textoCarrossel02 {
    position: absolute;
    color: #FAFDFF;
    height: 81px;
    width: 519px;
    top: 89px;
    left: 64px;
    right: 366px;
    bottom: 144px;
}

#botaoCarrossel02 {
    position: absolute;
    border-radius: 4px;
    border-color: #00000026;
    background: #F8F8FF;
    color: #063643;
    top: 207px;
    left: 131px;
    right: 766px;
    transition: background-color 0.3s ease;
}
#botaoCarrossel02:hover{
    background: #7CCBE0;
}

#imagemDog{
    position: absolute;
    top: 89px;
    left: 644px;
    right: 250px;
}

#imagemGato {
    position: absolute;
    top: 0px;
    left: 949px;
    right: 5px;
}
/* Estilo Segundo Banner */

/* Estilo Terceiro Banner */
#bannerCarrossel03 {
    position: absolute;
    border-radius: 8px;
    background: #F8F8FF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    flex: 0 0 100%;
}

#tituloCarrossel03 {
    z-index: 1;
    position: absolute;
    color: #063643;
    margin-top: 24px;
    margin-left: 64px;
}

#textoCarrossel03 {
    z-index: 1;
    position: absolute;
    color: #063643;
    height: 60px;
    width: 596px;
    top: 78px;
    left: 64px;
    right: 434.18px;
    bottom: 162px;
}

#botaoCarrossel03 {
    position: absolute;
    border-radius: 4px;
    border-color: #00000026;
    background: #063643;
    color: #F8F8FF;
    top: 196px;
    left: 93px;
    right: 718.8px;
    bottom: 32px;
    transition: background-color 0.3s ease;
}
#botaoCarrossel03:hover{
    color: #063643;
    background-color: #7CCBE0;
}

#imagemGatoBanho {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 825px;
    right: 20.18px;
}

#imagemGuardaChuva {
    position: absolute;
    right: 866.05px;
    bottom: 103.87px;
}

#imagemPingos {
    position: absolute;
    top: 0px;
    left: 553px;
    right: 0.18px;
}
/* Estilo Terceiro Banner */

/* Elementos de transição do carrossel*/
#arrowBack {
    position: absolute;
    width: 42.909px;
    height: 40px;
    flex-shrink: 0;
    top: 130px;
    bottom: 162px;
    right: 1137.09px;
    cursor: pointer;
    background: none;
    border: none;
}

#arrowForward {
    position: absolute;
    width: 42.909px;
    height: 40px;
    flex-shrink: 0;
    top: 130px;
    bottom: 162px;
    left: 1137.09px;
    cursor: pointer;
    background: none;
    border: none;
}

.seletor{ /* Container do seletor de banners */
    position: absolute;
    width: 109px;
    height: 20px;
    flex-shrink: 0;
    top: 312px;
    left: 535px;
    right: 536px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilizando os radio buttons */
input[type="radio"] {
    appearance: none; /* Remove o estilo padrão */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #A3A3A3;
    background-color: #A3A3A3;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Quando o radio está selecionado */
input[type="radio"]:checked {
    background-color: #63B3C9;
    border-color: #63B3C9;
}
/* Fim do Carrossel */


.quemSomos{
    max-width: 100%;
    height: 300px;
    background-image: url("assets/images/fundoAnimaisQuem.svg");
    margin: auto;
    background-color: #8ad3e6;
}

#logoQuem{
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    margin-left: 459px;
}

.textoQuem{
    margin-left: 862px;
    margin-top: -270px;
}

#tituloQuem{
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 33px;
}

#textoQuem{
    color: var(--Colors-blue1100, #063643);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    letter-spacing: 0.4px;
    width: 699px;
}

.nossosServicos{
    max-width: 100%;
    height: 418.25px;
    background-image: url("assets/images/fundoAnimaisQuem.svg");
    margin: auto;
    background-color: #63B3C9;
}


.tituloFotoServicos{
    margin-left: 450px;
    position: relative;
    top: 53px; /* Move para baixo */
}

#tituloServicos{
    width: 199px;
    color: var(--Colors-blue1100, #063643);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 51px;
}


#logoServicos{
    width: 320px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 8px;
}

#textoServicos{
    width: 620px;
    color: var(--Colors-blue1100, #063643);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.4px;
    margin-top: -257px;
    margin-left: 862px;
    
    position: relative;
    top: 53px; /* Move para baixo */
}

.divTerceira{
    height: 325px;
    max-width: 100%;
    background-image: url("assets/images/fundoAnimaisQuem.svg");
    background-color: #8ad3e6;
    margin: auto;
}

#fotodiv3{
    width: 320px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-top: 25px;
    margin-left: 1150px;
}

#textodiv3{
    width: 620px;
    color: var(--Colors-blue1100, #063643);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.4px;
    margin-left: 466px;
    margin-top: -190px;
}

/* Nossos profissionais*/
/* Tipografia*/
.nossosProfissionais {
    position: relative;
    width: 1180px;
    height: 460px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 48px;
    border-radius: 8px;
    background: #F8F8FF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 48px;
}

#tituloDivPro {
    position: absolute;
    color: #063643;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 44px;
    left: 80px;
}

.tipoNomesPro {
    color: #063643;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tipoCargo {
    color: #063643;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Tipografia */

/* Posicionamento */
#medico1 {
    position: absolute;
    top: 120px;
    left: 50px;
    gap: 40px;
}

#medico2 {
    position: absolute;
    top: 120px;
    left: 330px;
    gap: 40px;
}

#medico3 {
    position: absolute;
    top: 120px;
    left: 610px;
    gap: 40px;
}

#medico4 {
    position: absolute;
    top: 120px;
    left: 890px;
    gap: 40px;
}

#nomeMed1 {
    position: absolute;
    top: 369px;
    left: 99px;
}

#nomeMed2 {
    position: absolute;
    top: 369px;
    left: 403px;
}

#nomeMed3 {
    position: absolute;
    top: 369px;
    left: 671px;
}

#nomeMed4 {
    position: absolute;
    top: 369px;
    left: 984px;
}

#cargoMed1 {
    position: absolute;
    top: 397px;
    left: 98px;
}

#cargoMed2 {
    position: absolute;
    top: 397px;
    left: 357px;
}

#cargoMed3 {
    position: absolute;
    top: 397px;
    left: 692px;
}

#cargoMed4 {
    position: absolute;
    top: 397px;
    left: 955px;
}
/* Posicionamento */
/* Nossos profissionais */


#entreContato {
    margin-left: 503px;
    color: var(--Colors-blue1100, #063643);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

/* Container Contato */
.container-contato {
    position: relative;
    display: flex;
    margin: auto;
    width: 1020px;
    height: 692px;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}


.info-form {
    position: relative;
    width: 420px;
    height: 692px;
    flex-shrink: 0;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid rgba(6, 54, 67, 0.40);
    background: var(--Colors-white, #F8F8FF);
}


/* Formulário */
.container-form {
    width: 600px;
    height: 692px;
    border-radius: 0px 8px 8px 0px;
    border-top: 1px solid rgba(6, 54, 67, 0.40);
    border-right: 1px solid rgba(6, 54, 67, 0.40);
    border-bottom: 1px solid rgba(6, 54, 67, 0.40);
    background: #FAFDFF;
}

#form {
    display: flex;
    padding: 51px 40px 46px 40px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 28px;
}

label {
    color: #063643;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#nome {
    width: 520px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    cursor: pointer;
}

#nome:hover {
    border-radius: 8px;
    border: 2px solid #063643;
    box-shadow: 0px 2px 4px 0px rgba(6, 54, 67, 0.15);
}

#sobrenome {
    width: 520px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    cursor: pointer;
}

#sobrenome:hover {
    border-radius: 8px;
    border: 2px solid #063643;
    box-shadow: 0px 2px 4px 0px rgba(6, 54, 67, 0.15);
}

#email {
    width: 520px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    cursor: pointer;
}

#email:hover {
    border-radius: 8px;
    border: 2px solid #063643;
    box-shadow: 0px 2px 4px 0px rgba(6, 54, 67, 0.15);
}

#msg {
    width: 520px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    cursor: pointer;
}

#msg:hover {
    border-radius: 8px;
    border: 2px solid #063643;
    box-shadow: 0px 2px 4px 0px rgba(6, 54, 67, 0.15);
}

#botao-form{
    display: flex;
    align-items: flex-start;
    width: 144px;
    height: 55px;
    padding: 8px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Colors-blue1000, #0F637A);
    color: #F8F8FF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

#botao-form:hover {
    border-radius: 8px;
    background: #063643;
}
/* Formulário */

/* Container Contato */



footer{
    background-color: #063643;
}

#rodape{
    max-width: 100%;

}

.rodape{
    background-color: #F8F8FF;
    max-width: 100%;
    height: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding-top: 38px;
}

li{
    list-style: none;
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.titulorodape{
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.rodape1{
    padding-top: 12px;
}

.logorodape {
    position: relative;
    top: -30px;
}

#contatorodape {
    padding-bottom: 12px;
}