@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Cabeçalho*/
header {
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--Colors-white, #F8F8FF);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
}


.menuHeader {
    display: inline-flex;
    padding: 35px 370px 35.176px 390px;
    justify-content: flex-end;
    align-items: center;
    gap: 391px;
}


.botoesHeader {
    background-color: #f7f7fe;
    display: flex;
    width: 519px;
    height: 36px;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    height: 36px;
    border: none; 
    position: relative;
    right: -70px;
}

.tipografiaBotoesHeader {
    background-color: #f7f7fe;
    color: var(--Colors-blue1100, #063643);
    border: none;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.tipografiaBotoesHeader:hover {
    background-color: rgba(107, 183, 203, 0.40);
    border-radius: 10px;
    color: var(--Colors-blue1100, #063643);
    border: none;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.logo {
    width: 250px;
    height: 69.824px;
    left: 390px;
}

.contato{
    width: 1180px;
    height: 450px;
    margin-top: 20px;
    margin-left: 370px;
    border-width: 1px;
    border-radius: 8px;
    background-color: #F8F8FF; /* Cor para visualizar */
    border: 1px solid #00000026;
    position: relative;
}
/*Cabeçalho*/

body {
    background-color: #e0f3f8;
}

.titulodiv1{
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
    width: 420px;
    height: 84px;
    margin-left: 80px;
    margin-top: 48px;
}

.botaocontato{
    margin-left: 80px;
    margin-top: 70px;
    color: #F8F8FF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: var(--Colors-blue1000, #0F637A);
    display: flex;
    width: 283px;
    height: 72px;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
}

.imagenscachorros{
    display: flex; /* Alinha os elementos na horizontal */
    justify-content: center; /* Centraliza no meio da tela */
    align-items: center; /* Alinha na vertical */
    gap: 20px; /* Espaçamento entre as imagens */
    margin-top: 50px; /* Ajuste conforme necessário */
}

#ic1{
    width: 717px;
    height: 260px;
    flex-shrink: 0;
    margin-top: -160px;
    margin-left: 383px;
}	

#waveform{
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    margin-left: 897px;
    position: absolute;
    top: -20px;
}

/* Carrossel, Primeiro Banner */
.carrossel{ /* Container do carrossel */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    height: 332px;
    flex-shrink: 0;
    margin-left: 370px;
    margin-right: 370px;
    margin-top: 30px;
}

.modelBanners{ /* Modelo dos Banners do carrossel */
    width: 1094.182px;
    height: 300px;
    flex-shrink: 0;
}

.modelTitulo { /* Modelo de títulos do banner */
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
}

.modelTexto { /* Modelo de texto dos banners */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
}

.modelSaibaMais {
    display: flex;
    width: 283px;
    height: 72px;
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#bannerCarrossel01 {
    border-radius: 8px;
    background: #6BB7CB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

#tituloCarrossel01 {
    color: var(--Colors-blue1100, #063643);
    height: 42px;
    width: 379px;
    margin-top: 24px;
    margin-left: 502px;
}

#textoCarrossel01 {
    color: #0F637A;
    height: 30px;
    width: 311px;
    margin-top: 12px;
    margin-left: 510px;
    margin-right: 273.18px;
}

#botaoCarrossel01 {
    border-radius: 4px;
    border-color: #00000026;
    background: #F8F8FF;
    color: #063643;
    margin-top: 51px;
    margin-left: 510.09px;
    margin-right: 301.09px;
}

#imagemVacina{
    display: flex;
    justify-content: center; /* Centraliza no meio da tela */
    align-items: center;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin-top: 93px;
    margin-left: 112px;
}


/* Carrossel, Primeiro Banner */

footer{
    background-color: #063643   ;
}

#rodape{
    max-width: 100%;

}

.rodape{
    background-color: #F8F8FF;
    max-width: 100%;
    height: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding-top: 38px;
}

li{
    list-style: none;
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.titulorodape{
    color: var(--Colors-blue1100, #063643);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.rodape1{
    padding-top: 12px;
}

.logorodape {
    position: relative;
    top: -30px;
}

#contatorodape {
    padding-bottom: 12px;
}